<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>links</title>
    <link rel="stylesheet" href="src/styles/index.css">
</head>
<body>
    <div id="todoapp">
        <input type="text" id="new-todo" placeholder="paste your link here...">
        <div>
            <input type="checkbox" id="toggle-all">
            <label for="toggle-all">标记所有为已读</label>
            <div id="main">
                <ul id="todo-list"></ul>
                <footer></footer>
            </div>

        </div>
    </div>


    <script src="src/scripts/jquery-1.11.2.js"></script>
    <script src="src/scripts/Underscore.js"></script>
    <script src="src/scripts/Backbone.js"></script>
    <script src="src/scripts/backbone.localStorage.js"></script>
    <script src="src/scripts/index.js"></script>
    <script type="text/template" id="item-template">
        <div class="view">
          <input class="toggle" type="checkbox" <%= done ? 'checked="checked"' : '' %> />
          <label><%- title %></label>
          <a class="destroy"></a>
        </div>
        <input class="edit" type="text" value="<%- title %>" />
    </script>
    <script type="text/template" id="stats-template">
        <% if (done) { %>
          <a id="clear-completed">Clear <%= done %> readed <%= done == 1 ? 'link' : 'links' %></a>
        <% } %>
        <div class="todo-count"><b><%= remaining %></b> <%= remaining == 1 ? 'link' : 'links' %> left</div>
    </script>
</body>
</html>






